body {
  background-color: #000;
  color: #eee;
}

form {
  display: block;
  margin: 1em;
}

a,a:link {
  color: #77f;
}

a:visited {
  color: #88c;
}

li {
  margin-bottom: 0.25em;
}

.ledstrip {
  /*border: 1px solid #888;
  background-color: #444;*/
  margin: 1em 1em;
  width: 100%;
}

.ledlight, .WS2812-led {
    display: inline-block;
    width: 16px;
    min-width: 16px;
    height: 16px;
    border: 1px solid #666;
    background-color: #000;
    margin: 2px;
}

.diffuse {
  /* old IE version */
  filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=2);
  /* Chrome, Safari, and friends */
  -webkit-filter: blur(5px) brightness(200%);
  /* Standard, Firefox, IE Edge with option enabled */
  filter: blur(5px) brightness(200%);
}

#output {
  margin-top: 1em;
}
